%h1 Start a new raffle!
.row
  .col-md-6.col-md-offset-3
    = form_for(@raffle) do |f|
      = render 'shared/error_messages'

      = f.label :player
      = f.text_area :player, class: "form-control"

      = f.label :winners
      = f.input :winners, class: "form-control"

      = f.submit "Start Raffle", class: "btn btn-primary"